

body {
    padding: 0px;
    margin: 0px;
}

#main {
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
}

#img-div {
  height:auto;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  background-color: #d3d3d3;
  padding: 10px;
}


#tribute-info{
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#tribute-info ul{
    text-align: left;
  }

  #tribute-info ul li{
    margin-top: 10px;
  }



  @media (max-width: 568px){
    #image {
        display: none;
    }

    #image2 {
        max-width:80%;
        height:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
  }

  @media (min-width: 569px){
    #image {
        max-width:80%;
        height:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    #image2 {
        display: none;
    }

  }
